<h1>DEMO</h1>
<p>
  <fusioncharts
  width="500" 
  height="300"
  type="column2d"
  dataFormat="json"
  [dataSource]="data" >
  </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="450" 
    height="300"
    type="pie2d"
    dataFormat="json"
    [dataSource]="pie_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="900" 
    height="600"
    type="doughnut2d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO PIE 3d</h1>
<p>    
    <fusioncharts
    width="450" 
    height="300"
    type="pie3d"
    dataFormat="json"
    [dataSource]="pie_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO PIE 3d</h1>
<p>    
    <fusioncharts
    width="900" 
    height="600"
    type="doughnut3d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO Columnd 2d</h1>
<p>    
    <fusioncharts
    width="900" 
    height="600"
    type="column2d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>