<h1>DEMO</h1>
<p>
  <fusioncharts
  width="400" 
  height="200"
  type="column2d"
  dataFormat="json"
  [dataSource]="data" >
  </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="pie2d"
    dataFormat="json"
    [dataSource]="pie_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="doughnut2d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO PIE 3d</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="pie3d"
    dataFormat="json"
    [dataSource]="pie_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO PIE 3d</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="doughnut3d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO Columnd 2d</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="column2d"
    dataFormat="json"
    [dataSource]="doughnut_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO Line</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="line"
    dataFormat="json"
    [dataSource]="line_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO Multi Series Column 2d</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="mscolumn2d"
    dataFormat="json"
    [dataSource]="ms_column_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO Multi Series Column 3d</h1>
<p>    
    <fusioncharts
    width="400" 
    height="200"
    type="mscolumn3d"
    dataFormat="json"
    [dataSource]="ms_column_data" >
    </fusioncharts>
</p>
<br>



<h1>DEMO Multi Series Line </h1>
<p>    
    <fusioncharts
    width="500" 
    height="300"
    type="msline"
    dataFormat="json"
    [dataSource]="ms_line_data" >
    </fusioncharts>
</p>
<br>


<h1>DEMO Combination Chart </h1>
<p>    
    <fusioncharts
    width="500" 
    height="300"
    type="mscombidy2d"
    dataFormat="json"
    [dataSource]="mscombidy2d_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO Bar 2d </h1>
<p>    
    <fusioncharts
    width="500" 
    height="300"
    type="bar2d"
    dataFormat="json"
    [dataSource]="mscombidy2d_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO Bar 3d </h1>
<p>    
    <fusioncharts
    width="500" 
    height="300"
    type="bar3d"
    dataFormat="json"
    [dataSource]="mscombidy2d_data" >
    </fusioncharts>
</p>
<br>