<h1>DEMO</h1>
<p>
  <fusioncharts
  width="500" 
  height="300"
  type="column2d"
  dataFormat="json"
  [dataSource]="data" >
  </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="450" 
    height="300"
    type="pie2d"
    dataFormat="json"
    [dataSource]="pie2d_data" >
    </fusioncharts>
</p>
<br>

<h1>DEMO PIE 2D</h1>
<p>    
    <fusioncharts
    width="900" 
    height="600"
    type="doughnut2d"
    dataFormat="json"
    [dataSource]="doughnut2d_data" >
    </fusioncharts>
</p>
<br>